.nav-link-div {

}

.nav-link-div > a {
  margin-right: 20%;
  color: white;
  text-decoration: none;
  text-transform: capitalize;
  font-size: normal;
}

.nav-link-div > a:active {
  font-size: larger;
  font-weight: 700;
}